  @CHARSET "utf-8";
*{
padding: 0;
margin: 0;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
}
body{background: url("../IMG/hoa.jpg") no-repeat;
		}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
li{
	list-style-type: none;
}

/*
	sidebar_admin
*/
#sidebar_admin {
	border-left: 2px solid #3b6c9e;
	background: #BBBBBB;
	margin-bottom: 1em;
	height: 100%;
	border-radius: 10px;
	padding-right: 3px;
}
#sidebar_admin h3{
	margin-top: 50px;
	color:#3b6c9e;
}
#sidebar_admin a{
	color: #3b6c9e;
	font-weight: bold;
}

#sidebar_admin a:hover{
	opacity: 0.7;
}
#menu_admin li{
	margin-top: 10px;
}
.manage_admin ul li{
		border-bottom: 1px solid #dfdfdf;
		margin-left: 20px;
}
#example{

}

/*
 * content_admin
 */

#content_admin{
	margin-top: 25px;
}
#content_admin h2{color:#3b6c9e; font-weight: bold;  font-family: family-name|generic-family|initial|inherit;border-bottom:2px solid #3b6c9e; }
#content_admin2 table{margin-top: 10px;}


/*
 * footer_admin
 */
#footer_admin {

	border-top:1px solid #3b6c9e;
	margin-top: 1em;
	background: #BBBBBB;

}
table thead tr th{
    background-color:#4CAF50;
    color:white;
}

/*
 * MOBILE
 */
@media screen and (max-width:768px){

	#phantrang{border: 1px solid #ff0000;}
 #phantrang ul{margin-right:200em; float:left;}

}
